<div class="login-container">
    <div>
        <div class="login-logo">
            <h2>Idea Stadium</h2>
            <p>Idea Calls & Competitions</p>
        </div>
        <div class="login-form">
            <section>
                <input type="text" placeholder="用户名" [(ngModel)]='user.name'>
            </section>
            <section>
                <input type="text" placeholder="手机" [(ngModel)]='user.phone'>
            </section>
            <section>
                <input type="password" placeholder="密码" [(ngModel)]='user.password'>
            </section>
            <button (click)='Register()'>注册</button>
        </div>
    </div>
    <div>
        <is-footer></is-footer>
    </div>
</div>